*~
.gitignore
/build.hwm
/build.pwd
/build.pwi
/*.box
/validate.hwm
/validate.pwd
/validate.pwi
/.vagrant/
/packages
/remove_these_packages
/typescript
/.#*
/*.iso
/#*#
/.@__thumb/
/packer_cache/
*.sha1sum
/*.org
*.swp
*.swo
log/
nohup*
*.orig
